.header {
    width:100%;
    background: black;
    color: white;
    padding: 0.75rem;
    display: flex;
    justify-content: space-between;
}



.left {
width: 5%;
display: flex;
align-self: center;
gap:4px;
}